:root {
  /*

    QUERIES
    
    client/contact box touches bisecting lines
        (max-width:1430px);
    
    1st move of line box to the left 
    more client contacting
        max-width:1350px;

    2nd move of line box
    scale down font size
    more contacting
    shrink proporitons in gallery and name section
        max-width:1280px



        zoomed
        1610
        1520
        1440

        1650px (line box shift)
        1560px 
        intro font size decrease, shift line box 
            decrease gallery whitespace

        1475 rotate line box?
        1400 client spacing fix
        1300px heading-font reduced icons globally scaled 0.8
            icon row shrunk to fit 2 icons to a row.
        1240 shift left client and contact 
        1200 shift left line box 
        1125 shift client + line box + name intro
        1050 shift client + contact
        1000 shit client + line box + photographer + contact

        950px redesign
            reposition clients and contact at the bottom on either side of the 
            bisecting line 
        850px move name/project section over
        820px move contact section over
        770px move contact/project/clients section over
        730px move bisecitng line over move contact over, move name over 
        670px shrink font sizes and proportions across the board
            second and bisecting lines move up
            photography btns resized and spaced
        620px downsize icons, heading size, move about icon closer
        575px move projects over.
        550 move contact and line over;

    1550 photography and name sections have to change   
    */
  font-size: 78.125%;

  --body-bg-color: hsla(300, 67%, 56%, 1);

  --heading-size: 8rem;
  --client-icon-x: 22rem;
  --client-icon-y: 6.5rem;
  --gallery-btn-reference: translate3d(0rem, 0rem, 0rem);
  --gallery-btn-reference-x: 0rem;
  --gallery-btn-reference-y: 1rem;
}

@media (max-width: 1560px) {
  :root {
    --heading-size: 6.4rem;
  }
}

@media (max-width: 1325px) {
  :root {
    --gallery-btn-reference: translate3d(25rem, 0rem, 0rem);
    --gallery-btn-reference-x: 25rem;
  }
}
@media (max-width: 1200px) {
  :root {
    --heading-size: 5.6rem;
    --gallery-btn-reference: translate3d(22rem, 3rem, 0rem);
    --gallery-btn-reference-x: 22rem;
  }
}

@media (max-width: 620px) {
  :root {
    --heading-size: 5rem;
  }
}

html {
}

body {
  background-color: var(--body-bg-color);
  /*font-size:62.5%*/
  font-size: 78.125%;
  /*unbeknownst to me, my browser was zoomed in 125% when I was first developing this website
     (thanks chromium linux).

     At normal zoom levels, all of my measurments were off because my rems were 25% bigger than they should be. 
     This fixes the layout for default zoom levels.
    */
}

@media (max-width: 950px) {
  body {
    overflow-x: hidden;
    overflow-y: visible;
    height: 125vh;
  }
}

.line-box {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 1800px) {
  /*    .line-box{
        top:0;
        left:5rem;
    }
*/
  .line-box {
    right: 8rem;
  }
}

@media (max-width: 1650px) {
  .line-box {
    top: -1rem;
    right: 12rem;
  }
}

@media (max-width: 1560px) {
  .line-box {
    top: -3rem;
    right: 20rem;
  }
}

@media (max-width: 1475px) {
  .line-box {
    top: -6rem;
    right: 26rem;
  }
}

@media (max-width: 1400px) {
  .line-box {
    top: 0rem;
    right: 34rem;
  }
}
@media (max-width: 1200px) {
  .line-box {
    top: -1rem;
    right: 38rem;
  }
}

@media (max-width: 1125px) {
  .line-box {
    top: -2rem;
    right: 46rem;
  }
}

@media (max-width: 1000px) {
  .line-box {
    top: -2rem;
    right: 49rem;
  }
}
.line {
  position: absolute;
  width: 460.8rem;
  height: 0.5rem;
  background-color: black;
}

.line--under {
  transform: translate3d(-50%, 1.4rem, 0);
  transform: rotateZ(16deg) translate3d(-50%, 70rem, 0);
}

@media (max-width: 950px) {
  .line--under {
    transform: rotateZ(16deg) translate3d(-50%, 69rem, 0);
    transform: rotateZ(16deg) translate3d(-50%, 65rem, 0);
  }
}
.line--second {
  display: none;
  transform: translate3d(-50%, 1.4rem, 0);
  transform: rotateZ(16deg) translate3d(-50%, 70rem, 0);
}

@media (max-width: 950px) {
  .line--second {
    /*test*/
    display: unset;
    transform: rotateZ(16deg) translate3d(-50%, 111rem, 0);
  }
}
@media (max-width: 670px) {
  .line--second {
    transform: rotateZ(16deg) translate3d(-50%, 108rem, 0);
  }
}
.line--bisecting {
  transform: translate3d(-10%, 0rem, 0rem) rotateZ(14deg);
  transform: translate3d(-124.9rem, 0rem, 0rem) rotateZ(108deg);
}

@media (max-width: 950px) {
  .line--bisecting {
    transform: translate3d(-146rem, 0rem, 0rem) rotateZ(90deg);
    transform: translate3d(10rem, 0rem, 0rem) rotateZ(90deg);
    transform: translate3d(0rem, 23.8rem, 0rem);
    transform: unset;
    width: 25vh;
    width: 100%;
  }
}

.overflow-hack {
}

@media (max-width: 950px) {
  .overflow-hack {
    position: absolute;
    transform: translate3d(64rem, 86rem, 0rem) rotateZ(90deg);
    overflow: hidden;
    width: 34rem;
    height: 10rem;
    /*width is the vertical length because of the rotateZ*/
  }
}
@media (max-width: 820px) {
  .overflow-hack {
    transform: translate3d(60rem, 85rem, 0rem) rotateZ(90deg);
  }
}

@media (max-width: 730px) {
  .overflow-hack {
    transform: translate3d(56rem, 85rem, 0rem) rotateZ(90deg);
    width: 36rem;
  }
}

@media (max-width: 670px) {
  .overflow-hack {
    transform: translate3d(53rem, 82.1rem, 0rem) rotateZ(90deg);
    width: 37rem;
  }
}

@media (max-width: 620px) {
  .overflow-hack {
    transform: translate3d(49rem, 82.1rem, 0rem) rotateZ(90deg);
    width: 39rem;
  }
}

@media (max-width: 550px) {
  .overflow-hack {
    transform: translate3d(46.5rem, 82.1rem, 0rem) rotateZ(90deg);
    width: 40rem;
  }
}

@media (max-width: 550px) {
  .overflow-hack {
    transform: translate3d(44rem, 82.1rem, 0rem) rotateZ(90deg);
    width: 41rem;
  }
}

.intro {
  font-size: var(--heading-size);
  position: absolute;
}
@media (max-width: 1560px) {
  .intro {
    font-size: 6.4rem;
  }
}
.intro h3 {
  font-size: var(--heading-size);
}

@media (max-width: 1560px) {
  .intro h3 {
  }
}
.intro.name {
  transform: rotateZ(16deg);
  animation: 1s name-slide ease-out both;
  transform: rotateZ(16deg) translate3d(25rem, 3rem, 0);
  /*test*/
}

@media (max-width: 1800px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(21rem, 5rem, 0);
  }
}

@media (max-width: 1560px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(15rem, 5rem, 0);
    transform: rotateZ(16deg) translate3d(20rem, 5rem, 0);
  }
}

@media (max-width: 1475px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(15rem, 5rem, 0);
    transform: rotateZ(16deg) translate3d(23rem, -5rem, 0);
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1400px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(12rem, -1rem, 0);
    transform: rotateZ(16deg) translate3d(17rem, -1rem, 0);
    /*transform:rotateZ(16deg) translate3d(23rem,3rem,0);*/
    transform: rotateZ(16deg) translate3d(22rem, 2.5rem, 0);
  }
}

@media (max-width: 1325px) {
  .intro.name {
    /*transform:rotateZ(16deg) translate3d(22rem,-1rem,0);*/
  }
}
@media (max-width: 1200px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(20rem, 0.5rem, 0);
  }
}
@media (max-width: 1125px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(10rem, 2.5rem, 0);
  }
}
@media (max-width: 950px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(21rem, 5rem, 0);
    transform: rotateZ(16deg) translate3d(12rem, 8rem, 0);
    transform: rotateZ(16deg) translate3d(21rem, 2rem, 0);
    transform: rotateZ(16deg) translate3d(21rem, -3rem, 0);
  }
}

@media (max-width: 850px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(14rem, -3rem, 0);
  }
}

@media (max-width: 730px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(14rem, -3rem, 0);
    transform: rotateZ(16deg) translate3d(8rem, -3rem, 0);
  }
}

@media (max-width: 670px) {
  .intro.name {
    font-size: var(--heading-size);
    transform: rotateZ(16deg) translate3d(8rem, -3rem, 0);
    transform: rotateZ(16deg) translate3d(10rem, 0rem, 0);
  }
}

@media (max-width: 530px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(7rem, 0rem, 0);
  }
}
@media (max-width: 530px) {
  .intro.name {
    transform: rotateZ(16deg) translate3d(5rem, 0rem, 0);
  }
}
@keyframes name-slide {
  0% {
    transform: rotateZ(16deg) translate3d(-60rem, 3rem, 0);
  }
}

.name-group {
  font-size: var(--heading-size);
}

@media (max-width: 1475px) {
  .name-group {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .name-group {
    font-size: 7rem;
    justify-content: space-evenly;
  }
}

@media (max-width: 670px) {
  .name-group {
    font-size: var(--heading-size);
    justify-content: space-evenly;
  }
}
@media (max-width: 1475px) {
  .first-name {
    text-align: center;
  }
}

.icons {
  height: 5rem;
  width: 5rem;
}

@keyframes intro-slide {
  100% {
    transform: rotateZ(16deg) translate3d(36rem, 11rem, 0);
  }
}

.first-name,
.job {
  color: white;
}

.job {
  font-size: var(--heading-size);
  transform: rotateZ(-71deg) translate3d(0rem, 5rem, 0);
  transform: rotateZ(-89deg) translate3d(-75rem, -31rem, 0);
  transform: rotateZ(-89deg) translate3d(-17rem, -31rem, 0);
  animation: 1s slide-up--intro 1s both;
}

@media (max-width: 1560px) {
  .job {
    transform: rotateZ(-89deg) translate3d(-15rem, -28rem, 0);
  }
}

@media (max-width: 1475px) {
  .job {
    transform: rotateZ(-89deg) translate3d(-16rem, -25rem, 0);
  }
}

@media (max-width: 1475px) {
  .job {
    transform: rotateZ(-89deg) translate3d(-16rem, -23rem, 0);
  }
}

@media (max-width: 1325px) {
  .job {
    transform: rotateZ(-89deg) translate3d(-16rem, -14rem, 0);
    transform: rotateZ(-89deg) translate3d(-16rem, 0rem, 0);
    transform: rotateZ(-89deg) translate3d(-14rem, 2rem, 0);
  }
}

@media (max-width: 950px) {
  .job {
    transform: rotateZ(-89deg) translate3d(-16.5rem, -9rem, 0);
    transform: rotateZ(-89deg) translate3d(-16.5rem, -4rem, 0);
    animation: 1s slide-left--intro 1s both;
    font-size: 7rem;
  }
}

@media (max-width: 670px) {
  .job {
    transform: rotateZ(-89deg) translate3d(-13.5rem, 2rem, 0);
    font-size: var(--heading-size);
  }
}

@media (max-width: 620px) {
  .job {
    transform: rotateZ(-89deg) translate3d(-13.5rem, 5rem, 0);
  }
}

@keyframes slide-up--intro {
  0% {
    transform: rotateZ(-89deg) translate3d(-95rem, -31rem, 0);
  }
  100% {
    /*transform: rotateZ(-74deg) translate3d(-34rem,5rem,0);*/
  }
}

@keyframes slide-left--intro {
  0% {
    transform: rotateZ(-89deg) translate3d(-16.5rem, 65rem, 0);
  }
}

/*should animate in the opposite way (rtl)*/
/*See which one is better
    original in-line (split
        should animate bottom to top 
        transform:translate3d(-61rem,11rem,0)


        should animate in the opposite way (rtl)
    below
        transform:translate3d(0rem,0rem,0);

    below-parallel
        transform:translate3d(-1rem,10rem,0);

    */

.intro.contact {
  position: absolute;
  transform: rotateZ(16deg) translate3d(107rem, 12rem, 0rem);
}

@media (max-width: 1800px) {
  .intro.contact {
    transform: rotateZ(16deg) translate3d(97rem, 14rem, 0rem);
  }
}

@media (max-width: 1650px) {
  .intro.contact {
    /*left:5rem; */
    transform: rotateZ(16deg) translate3d(89rem, 14rem, 0rem);
  }
}

@media (max-width: 1560px) {
  .intro.contact {
    /*left:5rem; */
    transform: rotateZ(16deg) translate3d(82rem, 14rem, 0rem);
  }
}

@media (max-width: 1475px) {
  .intro.contact {
    transform: rotateZ(16deg) translate3d(83rem, 14rem, 0rem);
  }
}

@media (max-width: 1400px) {
  .intro.contact {
    transform: rotateZ(16deg) translate3d(75rem, 21rem, 0rem);
  }
}

@media (max-width: 1300px) {
  .intro.contact {
    transform: rotateZ(16deg) translate3d(73rem, 21rem, 0rem);
  }
}

@media (max-width: 1240px) {
  .intro.contact {
    transform: rotateZ(16deg) translate3d(69rem, 21rem, 0rem);
  }
}
@media (max-width: 1200px) {
  .intro.contact {
    transform: rotateZ(16deg) translate3d(69rem, 24rem, 0rem);
  }
}

@media (max-width: 1125px) {
  .intro.contact {
    transform: rotateZ(16deg) translate3d(61rem, 24rem, 0rem);
  }
}

@media (max-width: 1050px) {
  .intro.contact {
    transform: rotateZ(16deg) translate3d(58rem, 24rem, 0rem);
  }
}

@media (max-width: 1000px) {
  .intro.contact {
    transform: rotateZ(16deg) translate3d(55rem, 24rem, 0rem);
  }
}

@media (max-width: 950px) {
  .intro.contact {
    transform: rotateZ(0deg) translate3d(43rem, 80rem, 0rem);
  }
}

@media (max-width: 880px) {
  .intro.contact {
    transform: rotateZ(0deg) translate3d(41rem, 80rem, 0rem);
  }
}

@media (max-width: 820px) {
  .intro.contact {
    transform: rotateZ(0deg) translate3d(38rem, 78rem, 0rem);
  }
}

@media (max-width: 770px) {
  .intro.contact {
    transform: rotateZ(0deg) translate3d(34rem, 77rem, 0rem);
  }
}

@media (max-width: 730px) {
  .intro.contact {
    transform: rotateZ(0deg) translate3d(31rem, 77rem, 0rem);
  }
}

@media (max-width: 670px) {
  .intro.contact {
    transform: rotateZ(0deg) translate3d(27rem, 75rem, 0rem);
  }
}

@media (max-width: 620px) {
  .intro.contact {
    transform: rotateZ(0deg) translate3d(23rem, 75rem, 0rem);
  }
}

@media (max-width: 550px) {
  .intro.contact {
    transform: rotateZ(0deg) translate3d(21rem, 74rem, 0rem);
    transform: rotateZ(0deg) translate3d(19.5rem, 74rem, 0rem);
  }
}

@media (max-width: 500px) {
  .intro.contact {
    transform: rotateZ(0deg) translate3d(21rem, 74rem, 0rem);
    transform: rotateZ(0deg) translate3d(18.5rem, 74rem, 0rem);
  }
}
h3 {
  font-weight: 100;
}

.contact h3 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  animation: 1.6s reset 4s forwards;
  transform: translate3d(58rem, 0rem, 0rem);
}

@media (max-width: 1800px) {
  .contact h3 {
    transform: translate3d(50rem, 0rem, 0rem);
  }
}

@media (max-width: 1475px) {
  .contact h3 {
    margin-bottom: 2.5rem;
    margin-top: 0rem;
  }
}
@media (max-width: 1200px) {
  .contact h3 {
    margin-bottom: 1rem;
  }
}
@media (max-width: 950px) {
  .contact h3 {
    margin-bottom: 1rem;
    margin-top: 0rem;
  }
}

@media (max-width: 550px) {
  .contact h3 {
    margin-bottom: 1rem;
    margin-top: 0rem;
    font-size: 5rem;
  }
}
.icon-row {
  display: flex;
  /* margin-top: 3.5rem; */
  overflow: hidden;
  /* justify-content: space-between; */
  /* flex-basis: 50rem; */
  justify-content: space-evenly;
  width: 40rem;
}

@media (max-width: 1475px) {
  .icon-row {
    flex-wrap: wrap;
    width: 20rem;
  }
}

@media (max-width: 1200px) {
  .icon-row {
    flex-wrap: wrap;
    width: 16rem;
  }
}

@media (max-width: 1050px) {
  .icon-row {
    flex-wrap: wrap;
    width: 17.8rem;
  }
}

/*
@media (max-width: 550px) {
    .icon-row {
        flex-wrap: wrap;
        width: 17.8rem;
        display: flex;
        flex-direction: column;
        transform: translateX(35%);
    }
}
*/
.icons--social {
  height: 7rem;
  width: 7rem;
}

@media (max-width: 1200px) {
  .icons--social {
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 1050px) {
  .icons--social {
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 620px) {
  .icons--social {
    height: 5.5rem;
    width: 5.5rem;
    margin-right: 2rem;
    margin-bottom: 0rem;
  }
}

.icons--social:not(:last-of-type) {
  margin-right: 2rem;
}

@media (max-width: 1475px) {
  /*dumb selector with extra specificity that overrides the above one*/
  .icons--social:nth-child(n) {
    margin-right: 0;
  }
}

@media (max-width: 1050px) {
  /*dumb selector with extra specificity that overrides the above one*/
  .icons--social:nth-child(n) {
    margin-right: 0rem;
  }
}

@media (max-width: 820px) {
  .icons--social:nth-child(n) {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 620px) {
  /*dumb selector with extra specificity that overrides the above one*/
  .icons--social:nth-child(n) {
    margin-right: 0.5rem;
  }
}

.links {
  position: absolute;
  height: 100%;
  width: 100%;
}
.instagram {
  background-image: url(img/instagram-black.svg);
  filter: brightness(0);
  transform: translate3d(52rem, 0rem, 0rem);
  animation: 1s slide-left forwards ease-out 4.4s;
}

.twitter {
  background-image: url(img/logo-twitter.svg);
  transform: translate3d(52rem, 0rem, 0rem);
  animation: 1.2s slide-left forwards ease-out 4.4s;
}

.linkedin {
  background-image: url(img/logo-linkedin.svg);
  transform: translate3d(52rem, 0rem, 0rem);
  animation: 1.4s slide-left forwards ease-out 4.4s;
}
.mail {
  background-image: url(img/mail-sharp.svg);
  transform: translate3d(52rem, 0rem, 0rem);
  animation: 1.6s slide-left forwards ease-out 4.4s;
}
/*
@media(max-width:1788px) {
    .icon-row > * {
        transform:Translate3d(55rem,0rem,0rem);
    }
}
*/
@keyframes slide-left {
  90% {
    transform: translate3d(-1rem, 0rem, 0rem);
  }

  100% {
    transform: translate3d(0rem, 0rem, 0rem);
  }
}

@keyframes reset {
  100% {
    transform: translate3d(0rem, 0rem, 0rem);
  }
}

.icons {
  background-size: cover;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
}

.about-me {
  background-image: url(img/question-circle-outline.svg);
  position: absolute;
  transform: rotate(16deg);
  height: var(--heading-size);
  width: var(--heading-size);
  display: inline-block;
  animation: 1s slide-down-shrink 3s both;
  right: 20rem;
  top: -10rem;
}
@media (max-width: 1560px) {
  .about-me {
    top: -10rem;
    left: 26rem;
  }
}

@media (max-width: 1475px) {
  .about-me {
    top: -5rem;
    left: 25rem;
  }
}

@media (max-width: 1475px) {
  .about-me {
    top: -4rem;
    left: 29rem;
    height: 6.4rem;
    width: 6.4rem;
  }
}

@media (max-width: 670px) {
  .about-me {
    top: -3rem;
    left: 24rem;
    height: 6.4rem;
    width: 6.4rem;
  }
}

@media (max-width: 620px) {
  .about-me {
    top: -2rem;
    left: 21rem;
    height: 6.4rem;
    width: 6.4rem;
  }
}

#about-section .portrait {
  margin-bottom: 2rem;
}
#about-section {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 110vh;
  width: 100vw;
  opacity: 0;
  /*hides the transitioning opacity when the page is loaded.*/
  visibility: hidden;

  transition: opacity 0.65s;
}

#about-section:target {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
  background-color: hsla(0, 100%, 0%, 0.7);
}

@media (max-width: 950px) {
  #about-section:target {
    height: 194vh;
  }
}

#about-section .details {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 50rem;
  width: 50rem;
  background-color: white;
  padding: 2rem;
  font-size: 2rem;
  position: absolute;
}

.details-info {
  margin: 0rem 2rem;
  margin-bottom: 1.5rem;
}
#about-section .close {
  height: 4rem;
  width: 4rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  color: black;
  text-decoration: none;
}

@media (max-width: 950px) {
  #about-section .close {
    top: unset;
    left: unset;
    right: 50%;
    bottom: 5%;
    transform: translate3d(50%, 0, 0);
  }
}

#about-section .close::before {
  content: "X";
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details .portrait {
  align-self: center;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 2px 2px 3px hsla(0, 100%, 0%, 0.6);
  border: 1.5px solid black;
  overflow: hidden;
}

@keyframes slide-down-shrink {
  0% {
    opacity: 0;
    transform: translate3d(0rem, -5rem, 0rem);
  }
  100% {
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem) scale(0.8);
  }
}

.intro.clients {
  position: absolute;
  /*
    top:4rem;
    right:14rem;
    */
  display: flex;
  flex-direction: column;
  transform: translate3d(115rem, 0rem, 0rem);
}

@media (max-width: 1800px) {
  .intro.clients {
    transform: translate3d(105rem, 0rem, 0rem);
  }
}

@media (max-width: 1650px) {
  .intro.clients {
    transform: translate3d(95rem, 0rem, 0rem);
  }
}
@media (max-width: 1560px) {
  .intro.clients {
    transform: translate3d(90rem, 0rem, 0rem);
  }
}

@media (max-width: 1475px) {
  .intro.clients {
    transform: translate3d(82rem, 0rem, 0rem);
  }
}
@media (max-width: 1400px) {
  .intro.clients {
    transform: translate3d(78rem, -1rem, 0rem);
    transform: translate3d(75rem, 5rem, 0rem);
  }
}

@media (max-width: 1300px) {
  .intro.clients {
    transform: translate3d(72rem, 5rem, 0rem);
  }
}

@media (max-width: 1240px) {
  .intro.clients {
    transform: translate3d(69rem, 2rem, 0rem);
  }
}
@media (max-width: 1200px) {
  .intro.clients {
    transform: translate3d(66rem, 2rem, 0rem);
  }
}

@media (max-width: 1125px) {
  .intro.clients {
    transform: translate3d(60rem, 2rem, 0rem);
  }
}

@media (max-width: 1050px) {
  .intro.clients {
    transform: translate3d(57rem, 2rem, 0rem);
  }
}

@media (max-width: 1000px) {
  .intro.clients {
    transform: translate3d(52rem, 2rem, 0rem);
  }
}

@media (max-width: 950px) {
  .intro.clients {
    transform: translate3d(52rem, 2rem, 0rem);
    transform: translate3d(4rem, 70rem, 0rem);
    font-size: var(--heading-size);
    overflow: hidden;
  }
}

@media (max-width: 770px) {
  .intro.clients {
    transform: translate3d(1rem, 70rem, 0rem);
  }
}

@media (max-width: 670px) {
  .intro.clients {
    transform: translate3d(52rem, 2rem, 0rem);
    transform: translate3d(1rem, 70rem, 0rem);
  }
}

@media (max-width: 620px) {
  .intro.clients {
    transform: translate3d(-2rem, 70rem, 0rem);
    transform: translate3d(-2rem, 67rem, 0rem);
  }
}
@media (max-width: 550px) {
  .intro.clients {
    transform: translate3d(-2rem, 70rem, 0rem);
    transform: translate3d(-2rem, 67rem, 0rem);
  }
}
@media (max-width: 500px) {
  .intro.clients {
    transform: translate3d(-3rem, 67rem, 0rem);
  }
}
.clients h3 {
  text-align: center;
  animation: 1.5s fall-down 1.7s both;
  width: unset;
}
@media (max-width: 1200px) {
  .intro.clients .icon-column {
    margin-top: -0.5rem;
  }
}
@media (max-width: 950px) {
  .clients h3 {
    margin-bottom: 1rem;
  }
}
@media (max-width: 550px) {
  .clients h3 {
    font-size: 5rem;
  }
}

.animation-box {
  overflow: hidden;
}

.icon-column {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
@media (max-width: 1000px) {
  .intro.icon-column {
    margin-top: 0rem;
  }
}
.icons--client {
  height: var(--client-icon-y);
  width: var(--client-icon-x);
  background-position: center;
}

@media (max-width: 1200px) {
  .icons--client {
    transform: scale(0.8);
    margin-bottom: -1rem;
  }
}
@media (max-width: 950px) {
  .icons--client {
    transform: scale(1);
    margin-bottom: 0rem;
  }
}

@media (max-width: 670px) {
  .icons--client {
    transform: scale(0.8);
    margin-bottom: 0rem;
  }
}

@media (max-width: 550px) {
  .icons--client {
    transform: scale(0.7);
  }
}

.sciam {
  background-image: url(img/scientific-american.svg);
  animation: 4s fall-down 1s backwards;
}

.microsoft {
  background-image: url(img/microsoft-logo.svg);
  filter: brightness(0);
  animation: 4s fall-down 1.25s backwards;
}

.bbc {
  background-image: url(img/BBC-logo.svg);
  animation: 4s fall-down 1.5s backwards;
}

@keyframes fall-down {
  0% {
    transform: translate3d(0rem, -50rem, 0rem);
  }
  100% {
    transform: translate3d(0rem, 0rem, 0rem);
  }
}

.intro.projects {
  /*transform:translate3d(16rem,29rem,0);    */
  transform: translate3d(25rem, 27rem, 0) rotateZ(16deg);
  width: 50rem;
  height: 35rem;
}

@media (max-width: 1800px) {
  .intro.projects {
    transform: translate3d(21rem, 27rem, 0) rotateZ(16deg);
  }
}

@media (max-width: 1650px) {
  .intro.projects {
    transform: translate3d(21rem, 27rem, 0) rotateZ(16deg);
  }
}
@media (max-width: 1475px) {
  .intro.projects {
    transform: translate3d(17rem, 28rem, 0) rotateZ(16deg);
    transform: translate3d(20rem, 28rem, 0) rotateZ(16deg);
  }
}

@media (max-width: 1400px) {
  .intro.projects {
    transform: translate3d(18rem, 33rem, 0) rotateZ(16deg);
  }
}

@media (max-width: 1325px) {
  .intro.projects {
    transform: translate3d(-7rem, 27rem, 0) rotateZ(16deg);
  }
}

@media (max-width: 1000px) {
  .intro.projects {
    transform: translate3d(-10rem, 27rem, 0) rotateZ(16deg);
  }
}

@media (max-width: 950px) {
  .intro.projects {
    transform: translate3d(-10rem, 27rem, 0) rotateZ(16deg);
    transform: translate3d(3rem, 33rem, 0) rotateZ(16deg);
    transform: translate3d(3rem, 24rem, 0) rotateZ(16deg);
  }
}

@media (max-width: 850px) {
  .intro.projects {
    transform: translate3d(3rem, 24rem, 0) rotateZ(16deg);
    transform: translate3d(0rem, 23rem, 0) rotateZ(16deg);
  }
}

@media (max-width: 770px) {
  .intro.projects {
    transform: translate3d(3rem, 24rem, 0) rotateZ(16deg);
    transform: translate3d(0rem, 23rem, 0) rotateZ(16deg);
    transform: translate3d(-5rem, 21rem, 0) rotateZ(16deg);
  }
}

@media (max-width: 670px) {
  .intro.projects {
    transform: translate3d(3rem, 24rem, 0) rotateZ(16deg);
    transform: translate3d(0rem, 23rem, 0) rotateZ(16deg);
    transform: translate3d(-9rem, 21rem, 0) rotateZ(16deg);
    transform: translate3d(-8rem, 24rem, 0) rotateZ(16deg);
  }
}

@media (max-width: 620px) {
  .intro.projects {
    transform: translate3d(-14rem, 20rem, 0) rotateZ(16deg);
  }
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-left: 58rem;
  position: relative;
  animation: 1s drop-in 3s both;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translate3d(0rem, -5rem, 0rem) scale(1.2) rotateZ(-16deg);
  }
  100% {
    opacity: 1;
    transform: translate3d(0rem, 0rem, 0rem) scale(1) rotateZ(-16deg);
  }
}

.test1 {
}

.test2 {
}

.icon-label {
  font-size: 2rem;
  font-weight: bold;
}

.gallery-box {
  position: relative;
  height: 100%;
  width: 100%;
  left: 6rem;
}
@media (max-width: 1560px) {
  .gallery-box {
    left: 3rem;
  }
}

@media (max-width: 1475px) {
  .gallery-box {
    left: 1rem;
  }
}

@media (max-width: 550px) {
  .gallery-box {
    transform: translate3d(10px, 23px, 10px);
  }
}

.gallery-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 20px double white;
  opacity: 0;
  animation: 0.5s opacity-up ease-in 1.8s both;
  transform: var(--gallery-btn-reference);
}
@media (max-width: 1200px) {
  .gallery-btn {
    height: 120px;
    width: 120px;
  }
}

@media (max-width: 950px) {
  .gallery-btn {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 670px) {
  .gallery-btn {
    height: 125px;
    width: 125px;
  }
}

.gallery-btn.test0 {
}

@media (max-width: 1325px) {
  .gallery-btn.test0 {
  }
}

@media (max-width: 950px) {
  .gallery-btn.test0 {
    transform: translate3d(22rem, 7rem, 0rem);
    transform: translate3d(22rem, 1rem, 0rem);
    transform: translate3d(22rem, 4rem, 0rem);
  }
}

.gallery-btn.test1 {
  opacity: 0;
  transform: translate3d(30rem, 0rem, 0rem);
  animation: 1s slide-gallery 2.5s both;
}

@media (max-width: 1560px) {
  .gallery-btn.test1 {
    transform: translate3d(22rem, 0rem, 0rem);
  }
}

@media (max-width: 1475px) {
  .gallery-btn.test1 {
    transform: translate3d(12rem, 12rem, 0rem);
  }
}

@media (max-width: 1325px) {
  .gallery-btn.test1 {
    transform: translate3d(37rem, 12rem, 0rem);
  }
}

@media (max-width: 1200px) {
  .gallery-btn.test1 {
    transform: translate3d(31rem, 12rem, 0rem);
  }
}

@media (max-width: 950px) {
  .gallery-btn.test1 {
    transform: translate3d(34rem, 15rem, 0rem);
    transform: translate3d(37rem, 1rem, 0rem);
    transform: translate3d(39rem, 4rem, 0rem);
  }
}
@media (max-width: 670px) {
  .gallery-btn.test1 {
    transform: translate3d(37rem, 4rem, 0rem);
  }
}
@media (max-width: 550px) {
  .gallery-btn.test1 {
    transform: translate3d(34rem, 4rem, 0rem);
  }
}
.gallery-btn.test2 {
  opacity: 0;
  transform: translate3d(var(--gallery-btn-reference-x), 29rem, 0rem);
  animation: 1s slide-gallery 2.5s both;
}

@media (max-width: 1560px) {
  .gallery-btn.test2 {
    transform: translate3d(var(--gallery-btn-reference-x), 24rem, 0rem);
  }
}

@media (max-width: 1200px) {
  .gallery-btn.test2 {
    transform: translate3d(var(--gallery-btn-reference-x), 21rem, 0rem);
  }
}

@media (max-width: 670px) {
  .gallery-btn.test2 {
    transform: translate3d(var(--gallery-btn-reference-x), 19rem, 0rem);
  }
}

@media (max-width: 550px) {
  .gallery-btn.test2 {
    transform: translate3d(var(--gallery-btn-reference-x), 16rem, 0rem);
  }
}

@keyframes slide-gallery {
  0% {
    transform: var(--gallery-btn-reference);
  }

  100% {
    opacity: 1;
  }
}

.gallery-btn.test3 {
  transform: translate3d(30rem, 24rem, 0rem);
  opacity: 0;
  animation: 1s slide 2.5s both;
}

.gallery-btn .links {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  animation: 0.5s enable 2.8s both;
}

@keyframes enable {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.gallery-btn > * {
  transform: rotate(-17deg);
  text-decoration: none;
}

.gallery-btn .project-name {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .gallery-btn .project-name {
    font-size: 1.5rem;
  }
}

@media (max-width: 950px) {
  .gallery-btn .project-name {
    font-size: 1.8rem;
  }
}
@keyframes opacity-up {
  100% {
    opacity: 1;
  }
}
