*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  * {
    /* Very short durations means JavaScript that relies on events still works */
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

:root {
  --exhibit-margin-x: 6rem;
  --exhibit-width: 92%;
}
html {
  font-size: 78.125%;
}

body {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  height: 100vh;
}

/*GALLERY*/

span {
  display: inline-block;
}
.loading-screen {
  height: 100%;
  width: 100%;
  background-color: blue;
  animation: 0.5s fade 1.5s forwards;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border: solid white 2rem;
}

@keyframes fade {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.loading-screen__progress-bar {
  display: inline-block;
  margin: 0 auto;
  transform: translate3d(-50%, -50%, 0);
  position: relative;
  top: 50%;
  left: 50%;
  height: 2rem;
  width: 30%;
  background-color: orangered;
  border-radius: 5rem;
  overflow: hidden;
}

.loading-screen__progress-bar::after {
  content: "";
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: inherit;
  animation: 1.5s slide-and-cover forwards;
}

@keyframes slide-and-cover {
  100% {
    transform: translateX(100%);
  }
}

.main {
  position: relative;
  transform: translateY(15%);
}

.nav {
  display: flex;
  position: fixed;
  height: 7.5rem;
  right: 3.7vw;
  width: 7.5rem;
}
/*
.nav {
  display: flex;
  position: fixed;
  height: 6rem;
  right: 5.2vw;
}
*/
/*
.nav__icon {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  /*margin-left: 7rem;
}
*/
.nav__icon {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 50%;
  cursor: pointer;
  background-position: center;
}

@media (max-width: 1500px) {
  .nav__icon {
    background-size: 45%;
  }
}
@media (max-width: 900px) {
  .nav__icon {
    background-size: 40%;
  }
}

.home {
  background-image: url(img/home.svg);
}

.links {
  position: absolute;
  height: 100%;
  width: 100%;
}

.main__exhibit {
  height: 70vh;
  width: var(--exhibit-width);
  margin: 0 auto;
}
.main__exhibit::-webkit-scrollbar {
  width: 0;
}

/*********************
    GALLERY
*********************/

.exhibit__gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  /* box-shadow:0px 3px 5px 3px hsla(0,100%,0%,0.3); */
  scrollbar-width: none;
}

.exhibit__gallery::-webkit-scrollbar {
  display: none;
}

.img-block {
  width: 100%;
  height: 25rem;
  background-color: transparent;
  /*test*/
  border: 0.6rem dashed black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 0rem;
  flex-basis: 100%;
  visibility: hidden;
}

.img-block.active {
  background-color: hsla(0, 0%, 0%, 0.5);
  top: 0;
  left: 0;
  order: -1;
  position: sticky;
  border: none;
  /*flex-basis:100%; 
        Test
    */
  overflow: hidden;
  visibility: visible; /*
    animation:slide--upwards .5s  ease-in-out;
    */
  backface-visibility: hidden;
  z-index: 10;
}

@keyframes slide--upwards {
  0% {
    opacity: 25%;
    transform: translate3d(0, 100%, 0);
  }
  50% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
    transform: translate3d(0, 0%, 0);
  }
}

.img-block.active .img-block__img {
  flex-shrink: 0;
}
/*
.img-block:not(.active) {
    opacity:0;
}
*/

.img-block__img {
  /*background-color: rgba(220, 20, 60, 1);*/
  display: inline-block;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  font-size: 20rem;
  position: relative;
}

.img-block__content {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.img-block__img-info {
  top: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 0 10px hsla(0, 0%, 0%, 0.4);
  color: hsla(240, 100%, 100%);
}

[class*="img-info__img-title"] {
  font-size: 10rem;
  position: relative;
  text-align: center;
}
@media (max-width: 1500px) {
  [class*="img-info__img-title"] {
    font-size: 8.5rem;
  }
}
@media (max-width: 1200px) {
  [class*="img-info__img-title"] {
    font-size: 7rem;
  }
}
@media (max-width: 900px) {
  [class*="img-info__img-title"] {
    font-size: 6.75rem;
  }
}

@media (max-width: 700px) {
  [class*="img-info__img-title"] {
    font-size: 6rem;
  }
}

@media (max-width: 500px) {
  [class*="img-info__img-title"] {
    font-size: 5.25rem;
  }
}
.img-info__img-title--animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 1);
  animation: reveal--slide 1s ease-out forwards 0.25s;
}

@keyframes reveal--slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(110%, 0, 0);
    /*
        110% prevents part of the pseudo from appearing at smaller viewport widths
       */
  }
}
.img-info__author {
  font-size: 2.5rem;
  text-align: center;
  position: relative;
  width: fit-content;
  text-shadow: 0 0 5px hsla(0, 0%, 0%, 0.8);
  color: hsla(240, 100%, 100%);
}
@media (max-width: 1500px) {
  .img-info__author {
    font-size: 2.1rem;
  }
}
@media (max-width: 1200px) {
  .img-info__author {
    font-size: 1.8rem;
  }
}
@media (max-width: 900px) {
  .img-info__author {
    font-size: 1.6rem;
  }
}
@media (max-width: 700px) {
  .img-info__author {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .img-info__author {
    font-size: 1.4rem;
  }
}
.img-block__img-info details {
  font-size: 2.5rem;
  width: fit-content;
  /*bottom:-220%
    position:absolute;

    */
}

.img-block__img-info details ~ .blurb {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /*transition:backdrop-filter 0.5s;*/
  display: flex;
}

.img-block.active .img-block__img-info details[open] ~ .blurb {
  visibility: visible;
}

.blurb .text-area {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translate3d(-10px, 0rem, 0rem);
}
.img-block__img-info details[open] ~ .blurb .text-area {
  background-color: hsla(215, 100%, 90%, 1);
  /*background-color:hsla(240,100%,70%,1);*/
  color: black;
  z-index: 10;
  width: 25rem;
  /*padding:2.5rem 2rem;*/
  padding: 1.2rem 2rem;
  padding-bottom: 0rem;
  text-align: left;
  font-size: 1.8rem;
  opacity: 1;
  transform: translate3d(0rem, 0rem, 0rem);
}

@media (max-width: 1200px) {
  .img-block__img-info details[open] ~ .blurb .text-area {
    font-size: calc(1.1rem + 0.7vw);
  }
}

@media (max-width: 900px) {
  .img-block__img-info details[open] ~ .blurb .text-area {
    font-size: calc(1.1rem + 0.7vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
  }
}

@keyframes slide {
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.blurb span {
  display: flex;
  align-items: center;
}

.blurb .location {
  width: 100%;
  margin-bottom: 2rem;
}

.blurb .location::after {
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  background-image: url(img/location.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.blurb p {
  margin-bottom: 1rem;
}

.attribution {
  margin: 2rem 0;
}

.attribution::after {
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/camera.svg);
  margin-left: 0.5rem;
}

.attribution::before {
}

.img-block__img-info details[open] ~ .blurb * {
  text-shadow: none;
}
/*
.img-block__img-info details[open] ~ .blurb::after {
    /*Darkens the rest of the image when the details is toggled
    content:"";
    background-color:hsla(0,0%,0%,.5);
    top:0;
    left:100%;
    height:100%;
    width:100vw;
    position:absolute;

}
*/

.blurb .dark-overlay {
  background-color: hsla(0, 0%, 0%, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  position: absolute;
  transition: 0.5s opacity;
  opacity: 0;
}

.img-block__img-info details[open] ~ .blurb > * {
  opacity: 1;
  visibility: inherit;
}
/*
.img-block__img-info details[open] ~ .blurb .dark-overlay {
  opacity: 1;
}
*/
.img-block__img-info details[open] summary {
  filter: invert();
}

.img-block__img-info details summary {
  font-size: 2.5rem;
  /*margin-top:425%;  with marker*/
  /*margin-top: 693%; no maker */
  /*lets the toggle sit on top of the details, allowing you to close it.*/
  bottom: 10%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 15;
  cursor: pointer;
  text-shadow: -1px 1px 2px black, 1px 1px 2px black, 1px -1px 0 black,
    -1px -1px 0 black;

  /**/
}

.img-block__img-info details summary:hover {
  filter: invert();
}
.img-block__img-info details[open] summary:hover {
  font-weight: bold;
}

@media (max-width: 1500px) {
  .img-block__img-info details summary {
    font-size: 2.2rem;
  }
}
@media (max-width: 1200px) {
  .img-block__img-info details summary {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .img-block__img-info details summary {
    font-size: 1.9rem;
  }
}
@media (max-width: 700px) {
  .img-block__img-info details summary {
    font-size: 1.8rem;
  }
}
.img-block__img-info details summary:focus {
  outline: none;
}

.img-block__img-info details summary::marker,
.img-block__img-info details summary::-webkit-details-marker {
  /*this moves the info text out of position*/
  display: none;
  outline: none;
  content: "";
}

.author--animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 1);
  animation: reveal--slide 1s ease-out forwards 0.25s;
}

.img-info__img-number {
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 5rem;
  text-shadow: 0 0 5px hsla(0, 0%, 0%, 0.4);
  color: hsla(240, 100%, 100%);
}
@media (max-width: 1500px) {
  .img-info__img-number {
    font-size: 4.5rem;
  }
}
@media (max-width: 1200px) {
  .img-info__img-number {
    font-size: 4rem;
  }
}
@media (max-width: 900px) {
  .img-info__img-number {
    font-size: 3.5rem;
  }
}

@media (max-width: 700px) {
  .img-info__img-number {
    font-size: 3.25rem;
  }
}

@media (max-width: 500px) {
  .img-info__img-number {
    font-size: 3rem;
  }
}
[class*="btn--"] {
  z-index: 10;
  outline: none;
  border: none;
  cursor: pointer;
}

/******************
     Gallery BTNS
******************/

/*FIXED CHANGE TRACK BTNS*/

[class*="gallery__btn--track"] {
  height: 10vh;
  position: fixed;
  /* margin: 0 var(--exhibit-margin-x); */
  width: var(--exhibit-width);
  width: 30%;
  z-index: 20;
  margin: 0 auto;
  transform: translate3d(-50%, 0, 0);
  left: 50%;
  overflow: hidden;
  background-color: transparent;
}

[class*="gallery__btn--track-"]::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 25%;
}

[class*="gallery__btn--track-"]::before {
  background-size: 25%;
}
@media (max-width: 1500px) {
  [class*="gallery__btn--track-"]::before {
    background-size: 10rem;
  }
}
@media (max-width: 1200px) {
  [class*="gallery__btn--track-"]::before {
    background-size: 8.5rem;
  }
}
@media (max-width: 900px) {
  [class*="gallery__btn--track-"]::before {
    background-size: 7rem;
  }
}

@media (max-width: 700px) {
  [class*="gallery__btn--track-"]::before {
    background-size: 6.5rem;
  }
}

@media (max-width: 500px) {
  [class*="gallery__btn--track-"]::before {
    background-size: 6.25rem;
  }
}

.gallery__btn--track-prev {
  top: -14.5%;
}

.gallery__btn--track-prev::before {
  background-position: center 65%;
  background-image: url(img/chevron-up-sharp.svg);
  /*top:100%*/
  /*maybe should be 100% to start from underneath the button*/
}

.gallery__btn--track-next {
  bottom: -14.5%;
}

.gallery__btn--track-next::before {
  background-position: center 35%;
  background-image: url(img/chevron-down-sharp.svg);
  /*top:-100%*/
}

/*FIXED GALLERY BTNS ON IMGS*/

[class*="gallery__btn--img"] {
  height: 100%;
  width: 25%;
  border-radius: 0;
  background-color: black;
  background-color: hsla(0, 0%, 0%, 0);
  position: fixed;
  z-index: 20; /*To sit atop the active img*/
  overflow: hidden;
  transition: background-color 0.5s;
}
.gallery__btn--img-next {
  right: calc((100% - var(--exhibit-width)) / 2);
}

[class*="gallery__btn--img-"]:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

[class*="gallery__btn--img"]::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

[class*="gallery__btn--img"]::after:active {
  background-color: hsla(0, 0%, 0%, 0.4);
}
.gallery__btn--img-prev::after,
.gallery__btn--img-next::after {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}
@media (max-width: 1500px) {
  .gallery__btn--img-prev::after,
  .gallery__btn--img-next::after {
    background-size: 15rem;
  }
}

@media (max-width: 1200px) {
  .gallery__btn--img-prev::after,
  .gallery__btn--img-next::after {
    background-size: 13rem;
  }
}

@media (max-width: 900px) {
  .gallery__btn--img-prev::after,
  .gallery__btn--img-next::after {
    background-size: 11.5rem;
  }
}
@media (max-width: 700px) {
  .gallery__btn--img-prev::after,
  .gallery__btn--img-next::after {
    background-size: 10.5rem;
  }
}
@media (max-width: 500px) {
  .gallery__btn--img-prev::after,
  .gallery__btn--img-next::after {
    background-size: 10rem;
  }
}
.gallery__btn--img-prev::after {
  right: -100%;
  background-image: url("img/ios-arrow-backward-chevron.svg");
}
.gallery__btn--img-next::after {
  left: -100%;
  background-image: url("img/ios-arrow-forward-chevron.svg");
}

.gallery__btn--img-next:hover::after {
  animation: sheen--right 0.7s forwards;
}

.gallery__btn--img-prev:hover::after {
  animation: sheen--left 0.7s forwards;
}

@keyframes sheen--right {
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes sheen--left {
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

[class*="gallery__btn--img"]:active {
  /*    background-color:hsla(0,0%,0%,.5);*/
}
